<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selamat Datang di Happy Toothy</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Selamat Datang di Happy Toothy!</h1>
        <div class="button-group">
            <a href="/login">
                <button>Login</button>
            </a>
            <a href="/register">
                <button>Registrasi</button>
            </a>
        </div>
    </div>
    <script src="../js/script.js"></script>
</body>
</html>